/* About Section Styles */
#about .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about .card-body {
    padding: 2rem;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#about p.lead {
    font-size: 1.25em;
}
